header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 8vh;
    margin-bottom: 5vh;
}

.opciones {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 10vh;
}

.modo,
.jugadores {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.botonesModoJugadores {
    display: flex;
}

.tituloModoJugadores {
    font-size: 3vh;
    font-weight: bold;
}

button {
    margin: 0vh 2vh 0vh 2vh;
}

.fancy {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
}

.fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: black;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
    color: white;
    background: black;
}

.fancy:hover::before {
    width: 0.9375rem;
    background: white;
}

.fancy:hover .text {
    color: white;
    padding-left: 1.5em;
}

.fancy:hover .top-key {
    left: -2px;
    width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
}

.mensajesJugador {
    display: flex;
    width: 100%;
    height: 8vh;
    align-items: center;
    justify-content: center;
}

#textoMensaje {
    font-size: 3vh;
    font-weight: bold;
}

.contenedorJuego {
    padding-top: 0;
    display: flex;
    width: 100%;
    height: auto;
}

.comenzarJuego {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}

.nopulsado,
.pulsado {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 2vh;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.nopulsado:active,
.pulsado:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.pulsado {
    background-color: rgb(70, 70, 70);
    color: white;
}

.pulsado:hover,
.nopulsado:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

#tablero {
    display: flex;
    width: 33%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}

.tiempo {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: auto;
    justify-content: center;
    align-items: center;
}

#contadorVictorias {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-right: 5vh;
}

#tablaVictorias {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 6vh;
}

#tablaVictorias td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

#tablaVictorias tr:nth-child(even) {
    background-color: #f2f2f2;
}

#contadorTotal,
#contadorJugada,
#turnoJugador {
    display: flex;
    width: 100%;
    height: 33%;
    justify-content: center;
    align-items: center;
}

.botonTablero {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

#tablero td:hover {
    background-color: rgb(66, 66, 66);
}

#imgXO {
    object-fit: contain;
}

.tablaJuego td {
    border: 1px solid black;
    height: 15vh;
    width: 15vh;
    padding: 0;
    overflow: hidden;
}

.error,
.victoria,
.empate,
.info {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 320px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #EF665B;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
}

.empate {
    background: rgb(255, 192, 76);
}

.victoria {
    background: rgb(74, 203, 74);
}

.info{
    background-color: #1361ae;
}

.error__icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
}

.error__icon path {
    fill: #fff;
}

.error__title {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    flex-grow: 1;
    text-align: center;
}